:root {
  --black: #000000;
  --blue-light: #afe5e8;
  --purple-light: #d6b5ea;
  --red-light: #ecaaaa;
  --gray-light: #616161;
  --font: "Montserrat", sans-serif;
  --border-radius1: 25px;
  --border-radius2: 10px;
}
body {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/*Container*/
.container {
  width: 100%;
  margin: 0 auto;
}
.book__page {
  display: flex;
  flex-direction: column;
  padding: 42px 35px;
}
.card-book {
  width: 40%;
  display: flex;
  background-color: var(--blue-light);
  border-radius: var(--border-radius1);
  flex-direction: column;
  padding: 20px 25px;
  gap: 10px;
}
.card-book__div {
  display: flex;
  flex-direction: column;
  margin: 20px 25px 0 25px;
}
.card-book__text {
  font: 500 34px var(--font);
}
.card-book__textarea {
  border-radius: var(--border-radius2);
}
.select {
  display: grid;
  gap: 10px;
  margin: 20px 60px;
}
.card-book__select {
  height: 45px;
  font-size: 22px;
}
.card-book__select-text {
  font: 500 14px var(--font);
}
.card-book__img-book {
  margin: 20px 90px;
}
.card-book__img-book-style {
  font: 500 30px var(--font);
}
.card-book__button {
  border-radius: var(--border-radius2);
  margin: 20px 25px 0 25px;
  background-color: var(--red-light);
}
.card-book__button-text {
  text-align: center;
  font: 500 34px var(--font);
  color: #000000;
}
